#search
{
    height: 15px;
    width: 420px;
   
}

.jumbotron #searchbar{

	background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 20px;
    padding: 5px;
    margin: 100px auto 50px;
    overflow: hidden;
	position: relative;
	
}



.jumbotron{
	height: 500px;
	width: auto;
	background-image: url("../images/background.png");
	background-position: center;
	background-repeat: no-repeat;
	
}

.buttons li{
  display:inline;
  padding-right: 15px;
}

.jumbotron .searchbar{
  display:inline;
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }